*{
    margin: 0;padding: 0;box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    background-color: rgb(7, 7, 73);
}

.post{
    width: 700px;
    margin: 0 auto;
}

.user_logo>img{
    border-radius: 50%;
}

.user_logo{
    width: 40px;
    aspect-ratio: 1 / 1;
}

.post_image{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.liked{
    color: blue;
}

.no_image{
    display: block;
    width: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: rgba(255, 192, 203, 0.249);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}